/* Font variables */
$marc-script:  ('Marck Script', cursive);
$play: ('Play', sans-serif);

/* Devices width for media query mixin */
$devices: (
  'small-p': 250px,
  'small-l': 500px,
  'medium-p': 768px,
  'medium-l': 768px,
  'large': 1366px
);

$devices-t: (
  'small': 250px,
  'medium': 768px,
  'large': 1366px
);

$orientations: (
  'l': 'landscape',
  'p': 'portrait'
);

$root-font-sizes: (
    'medium-small': 28px,
    'medium': 28px,
    'large': 36px
);

//Variables for tag position and text in header section
$tag-height: 61vh;
$tag-width: $tag-height/1.6;
$text-width: $tag-width - 5vh;
$tag-position-r: 5vh;

//Variable for gaps between elements
$gap: 5vh;
$smaller-gap: 2.5vh;

//Colors
$pink: #FFE6F0;
