/* Font variables */
$marc-script:  ('Marck Script', cursive);
$play: ('Play', sans-serif);

/* Devices width for media query mixin */
$devices: (
    'small': 250px,
    'medium-small': 750px,
    'medium': 1024px,
    'large': 1366px
);

$root-font-sizes: (
    'medium-small': 28px,
    'medium': 28px,
    'large': 36px
);

//Variables for tag position and text in header section
$tag-height: 61vh;
$tag-width: $tag-height/1.6;
$text-width: $tag-width - 5vh;
$tag-position-r: 5vh;

//Variable for gaps between elements
$gap: 5vh;
$smaller-gap: 2.5vh;
