.contact-container {
  @include centerer(true, false, 'row');
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: $gap;
}

.contact-background {
  @include background-img ('flowers-gallery', 'jpg', 0, -20, '100%', 'auto');
  background-repeat: no-repeat;
}

form {
    @include grid(10);

    @include rwd('medium-small') {
        @include grid(10);
      }
      @include rwd('medium') {
        @include grid(8);
      }
      @include rwd('large') {
        @include grid(8);
      }
}

