.gallery-background {
  @include background-img ('flowers-orchid', 'jpg', 0, 0, 'auto', '100%');
  background-repeat: no-repeat;

  @include rwd('small-l', 'l'){
    @include background-img ('flowers-orchid', 'jpg', 0, 0, '100%', '100%');
    height: 60vh;
  }
  @include rwd('medium-p', 'p') {
    @include background-img ('flowers-orchid', 'jpg', 0, 0, '100%', '100%');
    height: 80vh;
  }
  @include rwd('large', 'l') {
    @include background-img ('flowers-orchid', 'jpg', 0, 0, '100%', '100%');
    height: auto;
  }
}

.gallery-wrapper {
  width: 100vw;
  height: 65vh;
  overflow: hidden;
  padding: 2vw 0;
  position: relative;
  display: flex;

  @include rwd('small-l', 'l'){
    height: 60vh;
  }
  @include rwd('medium-p', 'p') {
    height: 80vh;
  }
  @include rwd('large', 'l') {
    height: 80vh;
  }
}

.card {
  width: 65vw;
  height: 90%;
  @include shadow;
  padding: 2vw;
  background-color: white;
  position: absolute;
  transition: transform 1s ease;

  @include rwd('small-l', 'l'){
    width: 50vw;
    height: 90%;
    padding: 1.5vw;
  }
  @include rwd('medium-p', 'p') {
    width: 27vw;
    height: 80%;
    padding: 1vw;
  }
  @include rwd('large', 'l') {
    width: 27vw;
    height: 82%;
    padding: 1vw;
  }
}

.control-elem {
  width: 65vw;

  @include rwd('small-l', 'l'){
    width: 50vw;
  }
  @include rwd('medium-p', 'p') {
    width: 27vw;
  }
  @include rwd('large', 'l') {
    width: 27vw;
  }
  height: 1px;
}

.gallery-img-wrapper {
  width: 100%;
  height: 45%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-img {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.gallery-description {
  padding: 10% 0;
  @include rwd('small-l', 'l'){
    padding: 2vw 0;
  }
  @include rwd('medium-p', 'p') {
    padding: 1vw 0;
  }
  @include rwd('large', 'l') {
    padding: 1vw 0;
  }
}

.gallery-arrows {
  height: 12.5vh;
  align-self: center;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  .back-arrow, .next-arrow {
    height: 100%;
    margin: 0 1vw;
  }
  .next-arrow {
    transform: scaleX(-1);
  }
}
.filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 2% 0;
}
select[name=gallery-filter] {
  width: 40%;
  padding: 1.5vh;
  margin-left: 1vw;
}