
@keyframes tag-tilt {
  0%   {transform: rotate(0); transform-origin: 50% 0;}
  33%  {transform: rotate(-15deg); transform-origin: 50% 0;}
  100% {transform: rotate(5deg); transform-origin: 50% 0;}
}

.header.background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  @include rwd('small-p', 'p') {
    @include background-img (
          'header-background', 'jpg', 
          -88, 0,
          'auto', '100vh');
  }
  @include rwd('small-l', 'l') {
    @include background-img (
        'header-background', 'jpg', 
         -50, 0,
        auto, '100vh');
  }
  @include rwd('medium-p', 'p') {
    @include background-img (
        'header-background', 'jpg', 
         0, 0,
        '100vw', 'auto');
  }
  @include rwd('large', 'l') {
    @include background-img (
        'header-background', 'jpg', 
         0, 0,
        '100vw', 'auto');
  }
}




.header-buttons {
  @include centerer ($horizontal: false, $vertical: true, $direction: 'column');
  height: 35vh;
  position: relative;
  bottom: -2vh;
  justify-content: space-around;

  @include rwd('small-l', 'l') {
    @include centerer ($horizontal: false, $vertical: true, $direction: 'row');
    height: 20vh;
    bottom: 0vh;
  }
  @include rwd('medium-p', 'p') {
    @include centerer ($horizontal: false, $vertical: true, $direction: 'row');
    height: 15vh;
    bottom: 0vh;
  }
  @include rwd('large', 'l') {
    @include centerer ($horizontal: false, $vertical: true, $direction: 'row');
    height: 20vh;
    bottom: 0vh;
  }
}

