
@keyframes tag-tilt {
  0%   {transform: rotate(0); transform-origin: 50% 0;}
  33%  {transform: rotate(15deg); transform-origin: 50% 0;}
  66% {transform: rotate(-5deg); transform-origin: 50% 0;}
  100% {transform: rotate(0); transform-origin: 50% 0;}
}

.header.background {
  height: 100vh;
  
  @include rwd('small') {
    @include background-img (
          'header-background', 'jpg', 
          -88, 0,
          'auto', '100vh');
  }
  @include rwd('medium-small') {
    @include background-img (
        'header-background', 'jpg', 
         -50, 0,
        auto, '100vh');
  }
  @include rwd('medium') {
    @include background-img (
        'header-background', 'jpg', 
         0, 0,
        '100vw', '100vh');
  }
  @include rwd('large') {
    @include background-img (
        'header-background', 'jpg', 
         0, 0,
        '100vw', '100vh');
  }
}

.header-tag {
  height: 60vh;
  @include rwd('medium-small') {
    height: 80vh;
  }
  @include rwd('medium') {
    height: 85vh;
  }
  @include rwd('large') {
    height: 80vh;
  }
}

.logo {
  width: 16vw;
  height: auto;

  @include rwd('medium-small') {
    width: 12vw;
  }
  @include rwd('medium') {
    width: 7vw;
  }
  @include rwd('large') {
    width: 5.5vw;
  }
}

.portrait-picture {
  border-radius: 50%;
  border: 0.5px solid black;
  width: 25vw;
  height: auto;
  margin-bottom: 2vh;

  @include rwd('medium') {
    width: 12.5vw;
    margin-bottom: 5vh;

  }
  @include rwd('large') {
    width: 10vw;
    margin-bottom: 5vh;

  }
}


.tag-container {
  width: 62vw;
  height: 60vh;
  position: absolute;
  right: $tag-position-r;
  top: -2vh;

  @include background-img (
        'tag', 'svg', 
        0, -2,
        '100%', 'auto');
  background-repeat: no-repeat;
  


  @include rwd ('medium-small') {
    height: 75vh;
    width: 50vw;
    right: 5vw;
  }
  @include rwd ('medium') {
    height: 85vh;
    width: 30vw;
    right: 5vw;
  }

  @include rwd ('large') {
    height: 80vh;
    width: 25vw;
    right: 8vw;
  }

  
  animation-name: tag-tilt;
  animation-duration: 5s;
  animation-iteration-count: 1;

}

.header-tag-front, .header-tag-back {
  position: absolute;
  text-align: center;
  top: 13vh;
  margin: 0 5.25vw 0 5.25vw;
  
  @include rwd (medium) {
    top: 15vh;
    margin: 0 2.5vw 0 2.5vw;
  }

  @include rwd (large) {
    top: 20vh;
    margin: 0 2.5vw 0 2.5vw;
  }

}

.header-tag-front {
  @include rwd (large) {
    top: 14vh
  }
}

.localization {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: 2.5vw;

  img {
    width: 3vw;
    height: auto;
    margin-right: 0.5vw;

    @include rwd(medium) {
      width: 1.5vw;
    }
    @include rwd(large) {
      width: 1vw;
    }
  }

  @include rwd(medium) {
    margin-top: 5vw;
  }
  @include rwd(large) {
    margin-top: 3.5vw;
  }
}


.header-buttons {
  @include centerer ($horizontal: false, $vertical: true, $direction: 'column');
  height: 35vh;
  position: relative;
  bottom: -2vh;
  justify-content: space-around;

  @include rwd('medium-small') {
    @include centerer ($horizontal: false, $vertical: true, $direction: 'row');
    height: 20vh;
    bottom: 0vh;
  }
  @include rwd('medium') {
    @include centerer ($horizontal: false, $vertical: true, $direction: 'row');
    height: 15vh;
    bottom: 0vh;
  }
  @include rwd('large') {
    @include centerer ($horizontal: false, $vertical: true, $direction: 'row');
    height: 20vh;
    bottom: 0vh;
  }
}

