@charset "UTF-8";
/*
sass/
|
|– base/
|   |– _reset.scss              # Reset/normalize
|   |– _typography.scss         # Reguły dot. typografii
|   |- _root.scss
|
|– components/
|   |– _buttons.scss            # Przyciski
|   |- _header-bar
|   |– _carousel.scss           # Karuzela
|   |– _cover.scss              # Okładka
|   |– _dropdown.scss           # Rozwijane menu
|   …                           # Itd.
|
|– layout/
|   |– _navigation.scss         # Nawigacja
|   |– _grid.scss               # Grid system
|   |– _header.scss             # Nagłówek
|   |– _footer.scss             # Stopka
|   |– _forms.scss              # Formularze
|   |- _section-header
|   |- _section-contact.scss 
|
|– utils/
|   |– _variables.scss          # Zmienne Sassa
|   |– _functions.scss          # Funkcje Sassa
|   |– _mixins.scss             # Mixiny Sassa
|   |– _helpers.scss            # Pomocnicze klasy i selektory
|   
|
`– main.scss                    # Główny plik Sassa

*/
/* Font variables */
/* Devices width for media query mixin */
@import url("https://fonts.googleapis.com/css?family=Marck+Script|Play:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 21px;
}

@media (min-width: 768px) {
  body {
    font-size: 28px;
  }
}

@media (min-width: 1366px) {
  body {
    font-size: 36px;
  }
}

div.header-bar h1 {
  font-family: "Marck Script", cursive;
  font-size: 2em;
  line-height: 2;
}

h1.tag {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

p, a {
  font-family: "Play", sans-serif;
  font-size: 0.6em;
  line-height: 1.2;
}

span {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

h3 {
  font-family: "Play", sans-serif;
  font-size: 1em;
  line-height: 1.2;
}

h3.marc {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

h3.tag {
  font-family: "Play", sans-serif;
  font-size: 0.6em;
  line-height: 1.2;
}

h2 {
  font-family: "Play", sans-serif;
  font-size: 1em;
  line-height: 1.2;
}

h4 {
  font-family: "Play", sans-serif;
  font-size: 0.5em;
  line-height: 1.2;
}

button {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

input, textarea, select {
  font-family: "Play", sans-serif;
  font-size: 0.5em;
  line-height: 1.2;
}

.description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5vh;
  margin-bottom: 5vh;
}

.description h2 {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}

@media (min-width: 768px) and (orientation: landscape) {
  .description h2 {
    width: calc(((100vw/12) * 10));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .description h2 {
    width: calc(((100vw/12) * 8));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .description h2 {
    width: calc(((100vw/12) * 8));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

body {
  position: absolute;
  overflow-x: hidden;
}

section {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: initial;
  text-decoration: none;
}

button {
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;
  outline: 1px dashed;
  outline-offset: -0.35em;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  height: 10vh;
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
}

button:active {
  border-bottom-style: none;
  border-left-style: none;
}

@media (min-width: 1366px) and (orientation: landscape) {
  button {
    outline-width: 1.75px;
  }
}

@media (min-width: 500px) and (orientation: landscape) {
  button {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 9vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  button {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 9vh;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  button {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 12vh;
  }
}

.header-tag {
  width: 65%;
  height: 60%;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

@media (min-width: 1366px) and (orientation: landscape) {
  .header-tag {
    width: 25%;
    height: 80%;
  }
}

.tag-container:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.portrait-picture {
  border-radius: 50%;
  border: 0.5px solid black;
  width: 50%;
  height: auto;
  margin-bottom: 5%;
}

.tag-container {
  background-image: url("/img/tag.svg");
  background-position: 0vw -2vh;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*CSS for animation of tag */
  background-repeat: no-repeat;
  -webkit-animation-name: tag-tilt;
          animation-name: tag-tilt;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.tag-container div.tag-wrapper {
  height: 80%;
  width: 90%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-tag-front, .header-tag-back {
  width: 85%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.tag {
  margin: 5% 0;
}

.header-tag-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.localization {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.localization img {
  width: 25px;
  margin-right: 2.5%;
}

div.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  outline: 1px dashed;
  outline-offset: -0.35em;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  width: 105vw;
  position: relative;
  left: -2.5vw;
}

@media (min-width: 1366px) and (orientation: landscape) {
  div.header-bar {
    outline-width: 1.75px;
  }
}

div.header-bar.first {
  margin-top: 0;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

@-webkit-keyframes tag-tilt {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  33% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
}

@keyframes tag-tilt {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  33% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
}

.header.background {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 250px) and (orientation: portrait) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: -88vw 0vh;
    background-size: auto 100vh;
  }
}

@media (min-width: 500px) and (orientation: landscape) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: -50vw 0vh;
    background-size: auto 100vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: 0vw 0vh;
    background-size: 100vw auto;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: 0vw 0vh;
    background-size: 100vw auto;
  }
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35vh;
  position: relative;
  bottom: -2vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 500px) and (orientation: landscape) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20vh;
    bottom: 0vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 15vh;
    bottom: 0vh;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20vh;
    bottom: 0vh;
  }
}

.gallery-background {
  background-image: url("/img/flowers-orchid.jpg");
  background-position: 0vw 0vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media (min-width: 500px) and (orientation: landscape) {
  .gallery-background {
    background-image: url("/img/flowers-orchid.jpg");
    background-position: 0vw 0vh;
    background-size: 100% 100%;
    height: 60vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .gallery-background {
    background-image: url("/img/flowers-orchid.jpg");
    background-position: 0vw 0vh;
    background-size: 100% 100%;
    height: 80vh;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .gallery-background {
    background-image: url("/img/flowers-orchid.jpg");
    background-position: 0vw 0vh;
    background-size: 100% 100%;
    height: auto;
  }
}

.gallery-wrapper {
  width: 100vw;
  height: 65vh;
  overflow: hidden;
  padding: 2vw 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 500px) and (orientation: landscape) {
  .gallery-wrapper {
    height: 60vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .gallery-wrapper {
    height: 80vh;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .gallery-wrapper {
    height: 80vh;
  }
}

.card {
  width: 65vw;
  height: 90%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 2vw;
  background-color: white;
  position: absolute;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

@media (min-width: 500px) and (orientation: landscape) {
  .card {
    width: 50vw;
    height: 90%;
    padding: 1.5vw;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .card {
    width: 27vw;
    height: 80%;
    padding: 1vw;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .card {
    width: 27vw;
    height: 82%;
    padding: 1vw;
  }
}

.control-elem {
  width: 65vw;
  height: 1px;
}

@media (min-width: 500px) and (orientation: landscape) {
  .control-elem {
    width: 50vw;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .control-elem {
    width: 27vw;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .control-elem {
    width: 27vw;
  }
}

.gallery-img-wrapper {
  width: 100%;
  height: 45%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-img {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.gallery-description {
  padding: 10% 0;
}

@media (min-width: 500px) and (orientation: landscape) {
  .gallery-description {
    padding: 2vw 0;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .gallery-description {
    padding: 1vw 0;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .gallery-description {
    padding: 1vw 0;
  }
}

.gallery-arrows {
  height: 12.5vh;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}

.gallery-arrows .back-arrow, .gallery-arrows .next-arrow {
  height: 100%;
  margin: 0 1vw;
}

.gallery-arrows .next-arrow {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 2% 0;
}

select[name=gallery-filter] {
  width: 40%;
  padding: 1.5vh;
  margin-left: 1vw;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-container {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
}

@media (min-width: 250px) and (orientation: portrait) {
  .services-container {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 500px) and (orientation: landscape) {
  .services-container {
    width: calc(((100vw/12) * 5));
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .services-container {
    width: calc(((100vw/12) * 4));
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .services-container {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.services-circle {
  border-radius: 50%;
  overflow: hidden;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.services-circle img {
  width: 105%;
  height: auto;
}

.services-banner {
  position: absolute;
  width: 100%;
  bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-banner h3 {
  position: absolute;
}

.services-banner img {
  width: 100%;
}

.services-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFE6F0;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.services-overlay h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.services-circle:hover .services-overlay {
  height: 100%;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5vh;
}

.contact-background {
  background-image: url("/img/flowers-gallery.jpg");
  background-position: 0vw -20vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

form {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
}

@media (min-width: 500px) and (orientation: landscape) {
  form {
    width: calc(((100vw/12) * 10));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  form {
    width: calc(((100vw/12) * 8));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

input[type=text], textarea, select {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh;
  border: 1.5px solid black;
  border-radius: 10px;
  margin: 1% 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/img/arrow.svg") 98%/1.5% no-repeat white;
}

select ::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white;
  border: 1.5px solid black;
  border-radius: 10px;
  margin-left: 2%;
  cursor: pointer;
}

input[name=email], input[name=name] {
  width: 100%;
}

.submit-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1%;
}

.submit-row div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.submit-row input {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.email-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#error-message {
  padding: 20px;
  margin-bottom: 2vh;
  width: 80%;
  text-align: center;
  background-color: red;
  display: none;
}

#success-message {
  padding: 20px;
  margin-bottom: 2vh;
  width: 80%;
  text-align: center;
  background-color: green;
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  outline: 1px dashed;
  outline-offset: -0.35em;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1366px) and (orientation: landscape) {
  footer {
    outline-width: 1.75px;
  }
}

.footer-container {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-paragraph h3 {
  margin-bottom: 2.5vh;
}
/*# sourceMappingURL=main.css.map */