@charset "UTF-8";
/*
sass/
|
|– base/
|   |– _reset.scss              # Reset/normalize
|   |– _typography.scss         # Reguły dot. typografii
|   |- _root.scss
|
|– components/
|   |– _buttons.scss            # Przyciski
|   |- _header-bar
|   |– _carousel.scss           # Karuzela
|   |– _cover.scss              # Okładka
|   |– _dropdown.scss           # Rozwijane menu
|   …                           # Itd.
|
|– layout/
|   |– _navigation.scss         # Nawigacja
|   |– _grid.scss               # Grid system
|   |– _header.scss             # Nagłówek
|   |– _footer.scss             # Stopka
|   |– _forms.scss              # Formularze
|   |- _section-header
|   |- _section-contact.scss 
|
|– utils/
|   |– _variables.scss          # Zmienne Sassa
|   |– _functions.scss          # Funkcje Sassa
|   |– _mixins.scss             # Mixiny Sassa
|   |– _helpers.scss            # Pomocnicze klasy i selektory
|   
|
`– main.scss                    # Główny plik Sassa

*/
/* Font variables */
/* Devices width for media query mixin */
@import url("https://fonts.googleapis.com/css?family=Marck+Script|Play:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 21px;
}

@media (min-width: 750px) {
  body {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 28px;
  }
}

@media (min-width: 1366px) {
  body {
    font-size: 36px;
  }
}

div.header-bar h1 {
  font-family: "Marck Script", cursive;
  font-size: 2em;
  line-height: 2;
}

h1.tag {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

p, a {
  font-family: "Play", sans-serif;
  font-size: 0.6em;
  line-height: 1.2;
}

span {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

h3 {
  font-family: "Play", sans-serif;
  font-size: 1em;
  line-height: 1.2;
}

h3.marc {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

h3.tag {
  font-family: "Play", sans-serif;
  font-size: 0.6em;
  line-height: 1.2;
}

h2 {
  font-family: "Play", sans-serif;
  font-size: 1em;
  line-height: 1.2;
}

h4 {
  font-family: "Play", sans-serif;
  font-size: 0.5em;
  line-height: 1.2;
}

button {
  font-family: "Marck Script", cursive;
  font-size: 1em;
  line-height: 1.2;
}

input, textarea, select {
  font-family: "Play", sans-serif;
  font-size: 0.5em;
  line-height: 1.2;
}

.description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5vh;
}

.description h2 {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}

@media (min-width: 750px) {
  .description h2 {
    width: calc(((100vw/12) * 10));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1024px) {
  .description h2 {
    width: calc(((100vw/12) * 8));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) {
  .description h2 {
    width: calc(((100vw/12) * 8));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

body {
  position: absolute;
  overflow-x: hidden;
}

section {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: initial;
  text-decoration: none;
}

button {
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;
  outline: 1px dashed;
  outline-offset: -0.35em;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  height: 10vh;
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
}

button:active {
  border-bottom-style: none;
  border-left-style: none;
}

@media (min-width: 1366px) {
  button {
    outline-width: 1.75px;
  }
}

@media (min-width: 750px) {
  button {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 9vh;
  }
}

@media (min-width: 1024px) {
  button {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 12vh;
  }
}

@media (min-width: 1366px) {
  button {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 12vh;
  }
}

div.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  outline: 1px dashed;
  outline-offset: -0.35em;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  width: 105vw;
  position: relative;
  left: -2.5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media (min-width: 1366px) {
  div.header-bar {
    outline-width: 1.75px;
  }
}

div.header-bar.first {
  margin-top: 0;
}

@-webkit-keyframes tag-tilt {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  33% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  66% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
}

@keyframes tag-tilt {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  33% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  66% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
}

.header.background {
  height: 100vh;
}

@media (min-width: 250px) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: -88vw 0vh;
    background-size: auto 100vh;
  }
}

@media (min-width: 750px) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: -50vw 0vh;
    background-size: auto 100vh;
  }
}

@media (min-width: 1024px) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: 0vw 0vh;
    background-size: 100vw 100vh;
  }
}

@media (min-width: 1366px) {
  .header.background {
    background-image: url("/img/header-background.jpg");
    background-position: 0vw 0vh;
    background-size: 100vw 100vh;
  }
}

.header-tag {
  height: 60vh;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

@media (min-width: 750px) {
  .header-tag {
    height: 80vh;
  }
}

@media (min-width: 1024px) {
  .header-tag {
    height: 85vh;
  }
}

@media (min-width: 1366px) {
  .header-tag {
    height: 80vh;
  }
}

.tag-container:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.logo {
  width: 16vw;
  height: auto;
}

@media (min-width: 750px) {
  .logo {
    width: 12vw;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 7vw;
  }
}

@media (min-width: 1366px) {
  .logo {
    width: 5.5vw;
  }
}

.portrait-picture {
  border-radius: 50%;
  border: 0.5px solid black;
  width: 25vw;
  height: auto;
  margin-bottom: 2vh;
}

@media (min-width: 1024px) {
  .portrait-picture {
    width: 12.5vw;
    margin-bottom: 5vh;
  }
}

@media (min-width: 1366px) {
  .portrait-picture {
    width: 10vw;
    margin-bottom: 5vh;
  }
}

.tag-container {
  width: 62vw;
  height: 60vh;
  right: 5vh;
  top: -2vh;
  float: right;
  background-image: url("/img/tag.svg");
  background-position: 0vw -2vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-animation-name: tag-tilt;
          animation-name: tag-tilt;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.tag-container div {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 750px) {
  .tag-container {
    height: 75vh;
    width: 50vw;
    right: 5vw;
  }
}

@media (min-width: 1024px) {
  .tag-container {
    height: 85vh;
    width: 30vw;
    right: 5vw;
  }
}

@media (min-width: 1366px) {
  .tag-container {
    height: 80vh;
    width: 25vw;
    right: 8vw;
  }
}

.header-tag-front, .header-tag-back {
  position: absolute;
  text-align: center;
  top: 13vh;
  margin: 0 5.25vw 0 5.25vw;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (min-width: 1024px) {
  .header-tag-front, .header-tag-back {
    top: 15vh;
    margin: 0 2.5vw 0 2.5vw;
  }
}

@media (min-width: 1366px) {
  .header-tag-front, .header-tag-back {
    top: 20vh;
    margin: 0 2.5vw 0 2.5vw;
  }
}

@media (min-width: 1366px) {
  .header-tag-front {
    top: 14vh;
  }
}

.header-tag-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.localization {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5vw;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.localization img {
  width: 3vw;
  height: auto;
  margin-right: 0.5vw;
}

@media (min-width: 1024px) {
  .localization img {
    width: 1.5vw;
  }
}

@media (min-width: 1366px) {
  .localization img {
    width: 1vw;
  }
}

@media (min-width: 1024px) {
  .localization {
    margin-top: 5vw;
  }
}

@media (min-width: 1366px) {
  .localization {
    margin-top: 3.5vw;
  }
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35vh;
  position: relative;
  bottom: -2vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 750px) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20vh;
    bottom: 0vh;
  }
}

@media (min-width: 1024px) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 15vh;
    bottom: 0vh;
  }
}

@media (min-width: 1366px) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20vh;
    bottom: 0vh;
  }
}

.gallery-background {
  background-image: url("/img/gallery-background.svg");
  background-position: -10vw 0vh;
  background-size: 120vw 100%;
  background-repeat: no-repeat;
  height: 115vh;
  padding-top: 10vh;
}

.gallery-wrapper {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  padding: 2vw 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  width: 27vw;
  height: 80%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 1vw;
  background-color: white;
  position: absolute;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.control-elem {
  width: 27vw;
  height: 1px;
}

.gallery-img-wrapper {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-img {
  width: auto;
  height: 100%;
}

.gallery-description {
  padding: 1vw 0;
}

.gallery-arrows {
  height: 12.5vh;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}

.gallery-arrows .back-arrow, .gallery-arrows .next-arrow {
  height: 100%;
  margin: 0 1vw;
}

.gallery-arrows .next-arrow {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.gallery-flter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-flter span {
  margin-right: 1vw;
}

select[name=gallery-filter] {
  width: 40%;
  padding: 1.5vh;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-container {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
}

@media (min-width: 250px) {
  .services-container {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 750px) {
  .services-container {
    width: calc(((100vw/12) * 5));
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 1024px) {
  .services-container {
    width: calc(((100vw/12) * 4));
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 1366px) {
  .services-container {
    width: calc(((100vw/12) * 3));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.services-circle {
  border-radius: 50%;
  overflow: hidden;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.services-circle img {
  width: 105%;
  height: auto;
}

.services-banner {
  position: absolute;
  width: 100%;
  bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-banner h3 {
  position: absolute;
}

.services-banner img {
  width: 100%;
}

.services-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFE6F0;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.services-overlay h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.services-circle:hover .services-overlay {
  height: 100%;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5vh;
}

form {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
}

@media (min-width: 750px) {
  form {
    width: calc(((100vw/12) * 10));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1024px) {
  form {
    width: calc(((100vw/12) * 8));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) {
  form {
    width: calc(((100vw/12) * 8));
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

input[type=text], textarea, select {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh;
  border: 1.5px solid black;
  border-radius: 10px;
  margin: 1% 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/img/arrow.svg") 98%/1.5% no-repeat white;
}

select ::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white;
  border: 1.5px solid black;
  border-radius: 10px;
  margin-left: 2%;
  cursor: pointer;
}

input[name=email], input[name=name] {
  width: 100%;
}

@media (min-width: 1366px) {
  input[name=email], input[name=name] {
    width: 49%;
  }
}

.submit-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1%;
}

.submit-row div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.submit-row input {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.email-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: #FFE6F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container {
  width: calc(((100vw/12) * 10));
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-paragraph h3 {
  margin-bottom: 2.5vh;
}
/*# sourceMappingURL=main.css.map */