body {
    position: absolute;
    overflow-x: hidden;
}

section {

    width: 100vw;
    overflow-x: hidden;

    //& >:not(.header-bar) {
    //    margin-left: 2.5vw;
    //    margin-right: 2.5vw;
    //}
}

a {

    color: initial;
    text-decoration: none;

}