@import url('https://fonts.googleapis.com/css?family=Marck+Script|Play:400,700');

body {
  @include font-root;
}

//Teksty duże 2em czcionką marc script (36px/72px)
div.header-bar h1 {
  font-family: $marc-script;
  @include vertical-rhythm(2em);
}

//Tytuł z taga czcionką marc script 1em
h1.tag {
  font-family: $marc-script;
  @include vertical-rhythm(1em);
}

//Paragraf z tekstem 'filtruj' marc script 1em
p {
  font-family: $play;
  @include vertical-rhythm(0.6em);
}

//Tytuły w footerze czionką marc script
h3 {
  font-family: $marc-script;
}

h3.tag {
  font-family: $play;
  @include vertical-rhythm(0.6em);
}

//Teksty główne 1em czcionką play (18px/36px)
h2 {
  font-family: $play;
  @include vertical-rhythm(1em);
}

//Teksty mniejsze 0.5em (9px/18) czcionka play
h4 {
  font-family: $play;
  @include vertical-rhythm(0.5em);
}

button {
  font-family: $marc-script;
  @include vertical-rhythm(1em);
}

.description {
  width: 100%;
  @include centerer ($horizontal: false, $vertical: true, $direction: 'column');
  margin-bottom: $gap;

  h2{
    @include grid(10);
    text-align: center;
    
    @include rwd('medium-small') {
      @include grid(10);
    }
    @include rwd('medium') {
      @include grid(8);
    }
    @include rwd('large') {
      @include grid(8);
    }
  }
}
